<div class="d-flex justify-content-between p-2">
  <h1>Post list</h1>
  <button type="button" class="btn btn-primary m-2" (click)="redirectEdit()">
    Go to creation
  </button>
</div>

<form>
  <div class="form-group form-inline">
    User ID:
    <input
      class="form-control ml-2"
      type="text"
      [formControl]="postFilter"
      placeholder="Enter an user ID"
    />
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let post of postArray; index as i"
      [routerLink]="['/edit', post.id]"
    >
      <td>
        <ngb-highlight
          [result]="post.userId.toString()"
          [term]="postFilter.value"
        ></ngb-highlight>
      </td>
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="postArraySize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshPosts()"
  >
  </ngb-pagination>

  <select
    class="custom-select"
    style="width: auto"
    [(ngModel)]="pageSize"
    (ngModelChange)="refreshPosts()"
  >
    <option [ngValue]="5">5 posts per page</option>
    <option selected [ngValue]="10">10 posts per page</option>
    <option [ngValue]="25">25 posts per page</option>
  </select>
</div>
