<div class="container px-5">
  <div class="d-flex justify-content-between p-2">
    <h1>{{ isEditMode ? "Edit Post" : "Add Post" }}</h1>
    <button type="button" routerLink=".." class="btn btn-primary m-2">
      Back
    </button>
  </div>
  <form [formGroup]="postForm" (ngSubmit)="onPostSubmit()">
    <div class="form-group">
      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.title.errors && submitted }"
        id="title"
        formControlName="title"
        placeholder="Enter title"
      />
      <small *ngIf="f.title.errors && submitted" class="text-danger">
        Must enter a title
      </small>
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      <textarea
        type="text"
        class="form-control"
        [ngClass]="{ 'is-invalid': f.body.errors && submitted }"
        id="body"
        formControlName="body"
        placeholder="Enter post body"
        required
      >
      </textarea>
      <small *ngIf="f.body.errors && submitted" class="text-danger">
        Must enter a body
      </small>
    </div>
    <button class="btn btn-info">
      {{ isEditMode ? "Update" : "Save" }}
    </button>
  </form>
</div>
